mixin ordertable__item(order, date, customer, status, statusClass, profit)
    tr.ordespage__table__order
        td.order__shop GOTTESSHIRT
        td.order__order= order
        td.order__date= date
        td.order__customer= customer
        td.order__status(class=statusClass)= status
        td.order__profit= profit