mixin paymenttable__item(id, approved, approvedClass, type, provider, amount, order, date, pdf)
    tr.paymentspage__table__order
        td.order__id= id
        td.order__shop GOTTESSHIRT
        td.order__approved(class=approvedClass)= approved
        td.order__type=type
        td.order__prodiver= provider
        td.order__amount= amount
        td.order__order= order
        td.order__data= date
        td
            a(href="").order__pdf Download
            